behaving==3.3.*
Appium-Python-Client==2.10.1
ckanapi>=4.7
factory-boy
flake8==7.3.*
mock
pytest-ckan
selenium<4.10

-e git+https://github.com/qld-gov-au/ckanext-oidc-pkce.git@0.4.0-qgov.3#egg=ckanext-oidc-pkce
