{% ckan_extends %}

{% block form %}
  <div class="mb-4">
    <div class="alert alert-warning" role="alert" aria-label="Warning alert">
      <h2 class="alert-heading">MFA Coming Soon</h2>
      <p>Multi-Factor Authentication (MFA) will soon be required to access this portal from 1 September 2026. Please ensure your profile details are current.</p>
    </div>
  </div>
  {{ super() }}
{% endblock %}

{% block sso_form %}
  <h2>Use single sign-on (SSO)</h2>
  <p>If you have a digital ID or if you work with a statutory authority or an agency.</p>
  <div class="d-grid gap-2 d-md-block">
    <a href="{{ h.url_for('user.login') }}/oidc-pkce" class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in with single sign-on</a>
    <a href="{{ h.url_for('user.login') }}/oidc-pkce" class="btn btn-secondary">Register with Digital ID</a>
  </div>
  <p><a href="https://www.qld.gov.au/qdifaq">Learn more about using Digital ID</a></p>
  <p>If you're an employee and having trouble logging in with SSO, contact your IT administrator.</p>
  <div class="d-flex">
    <hr class="w-100"> <span class="mx-3">{{ _('or') }}</span> <hr class="w-100">
  </div>
{% endblock %}

{% block sso_help_register %}
{% endblock %}

{% block secondary_content %}
  <nav class="qld-side-navigation" aria-label="Side Navigation">
    <button class="accordion-button d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sideNavCollapse" aria-expanded="false" aria-controls="sideNavCollapse">
      In this section
    </button>
    <div class="nav-wrapper d-lg-block collapse" id="sideNavCollapse" style="">
      <h2 class="nav-title"><a class="nav-link">My Account</a></h2>

      <ul class="nav list-group" aria-label="section navigation">
        <li class="nav-item active">
          <a class="nav-link" href="#">{{ _('Log in to your account') }}</a>
        </li>
        {% if h.check_access('user_create') %}
          {% block help_register %}
          <li class="nav-item ">
          {% block help_register_inner %}
            {% block help_register_button %}
            <a class="nav-link" href="{{ h.url_for('user.register') }}">{{ _('Register for an account') }}</a>
            {% endblock %}
          {% endblock %}
          </li>
          {% endblock %}
        {% endif %}
        {% block help_forgotten %}
        <li class="nav-item ">
          {% block help_forgotten_inner %}
            {% block help_forgotten_button %}
            <a class="nav-link" href="{{ h.url_for('user.request_reset') }}">{{ _('Reset your password') }}</a>
            {% endblock %}
          {% endblock %}
        </li>
        {% endblock %}
      </ul>
    </div>
  </nav>
{% endblock %}
