{% ckan_extends %}

{% block secondary_content %}
  <nav class="qld-side-navigation" aria-label="Side Navigation">
    <button class="accordion-button d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sideNavCollapse" aria-expanded="false" aria-controls="sideNavCollapse">
      In this section
    </button>
    <div class="nav-wrapper d-lg-block collapse" id="sideNavCollapse" style="">
      <h2 class="nav-title"><a class="nav-link">My Account</a></h2>

      <ul class="nav" aria-label="section navigation">
        <li class="nav-item">
          <a class="nav-link" href="{{ h.url_for('user.login') }}">{{ _('Log in to your account') }}</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">{{ _('Register for an account') }}</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{{ h.url_for('user.request_reset') }}">{{ _('Reset your password') }}</a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}
